<% layout('layouts/app') %>
    <h1><%= motor.title %></h1>
    <h2><%= motor.description %></h2>
    <form action="/pages/<%= motor._id %>?_method=DELETE" method="POST" style="display: inline!important;">
    <button type="submit">Delete</button>
    </form>
    <a href="/pages/<%= motor._id %>/editForm">edit</a>
    <a href="/pages">all motor</a>
