<% layout('layouts/app') %>
<body>
    <!-- Link to Add Motor Form -->
    <a href="/pages/post">Add Motor</a>

    <!-- Heading for All Motors -->
    <h1>All Motors</h1>

    <!-- List of Motors -->
    <ul>
        <% for(const motor of motors){ %>
            <li><a href="/pages/<%= motor._id %>"><%= motor.title %></a></li>
        <% } %>
    </ul>

